.shell {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.spin {
  display: none;
}

.inner {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.innerPad {
  padding: 1.5rem;
}
